<div [className]="getClass()">
  @switch (icon) {
  @case ('menu') {
  <app-menu-icon [class]="class" />
  }
  @case ('arrow-drop') {
  <app-arrow-drop-icon [class]="class" />
  }
  @case ('logout') {
  <app-logout-icon [class]="class" />
  }
  @case ('google') {
  <app-google-icon [class]="class" />
  }
  @case ('github') {
  <app-github-icon [class]="class" />
  }
  @case ('close') {
  <app-close-icon [class]="class" />
  }
  @case ('bookmark') {
  <app-bookmark-icon [class]="class" />
  }
  @case ('add') {
  <app-add-icon [class]="class" />
  }
  @case ('delete') {
  <app-delete-icon [class]="class" />
  }
  }
</div>