:host {
  width: 100%;
  display: grid;
  grid-template-areas:
  "navbar"
  "content"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: var(--navbar-height) 1fr;
}

.content {
  display: block;
  height: 100%;
  grid-area: content;
}