<nav class="flex flex-row flex-1 justify-between items-center px-6 bg-secondary-400">
  <div class="flex flex-row">
    <app-icon class="sm:hidden" icon="menu" />
    <p class="capitalize pl-2 sm:pl-0">rem</p>
  </div>
  <div class="flex flex-row">
    <div class="flex flex-row items-center p-3 cursor-pointer hover:bg-secondary-300">
      <app-icon icon="bookmark" />
    </div>
    <div class="flex flex-row p-3 items-center cursor-pointer hover:bg-secondary-300" (click)="toggleMenu()">
      <app-avatar class="mr-2" size="small" [imageUrl]="user.imageUrl" />
      <app-icon icon="arrow-drop" />
    </div>
  </div>
  <app-navbar-menu [userName]="user.name" [userImage]="user.imageUrl"
    [ngClass]="this.navbarService.showMenu ? 'visible' : 'hidden'" />
</nav>
<div class="overlay" [ngClass]="this.navbarService.showMenu ? 'overlay-visible' : 'overlay-hidden'"
  (click)="toggleMenu()"></div>