:host {
  position: relative;
  display: block;
  @apply w-72;
  @apply sm:w-52;
  @apply bg-gray-800 rounded-b-lg;
}

.grid-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  ". . button"
  ". content ."
  ". . .";
}

.grid-card-button {
  grid-area: button;
  justify-self: end;
  height: fit-content;
}

.grid-card-content {
  display: block;
  grid-area: content;
  width: auto;
  height: 50%;
}